<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css"/>
  <title>Chokomate Feedback</title>
</head>
<body>
    <div class="container">
    <img src="../static/logo2.png" alt="logo"/>
    <h1>Thank you!</h1>
    <h2>Thank you for sharing your feedback.</h2>
    </br>
    </br>
    <h3>Regards.</h3>
    <h3>Henry Okonkwo.</h3>
    <h3>CEO.</h3>
  </div>
  
</body>
</html>